{% extends 'base.html' %}
{% load static %}

{% block title %}Client Stories{% endblock %}
{% block description %}Learn about previous Think Halcyon projects and our clients who contracted them.{% endblock %}

{% block content %}

{% comment %} Content goes here {% endcomment %}
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
  <!-- Hero -->
  <div class="bg-dark" style="background-image: url({% static 'website/assets/svg/components/wave-pattern-light.svg' %});">
    <div class="container content-space-2 content-space-lg-3">
      <div class="w-lg-65 text-center mx-lg-auto">
        <span class="badge bg-warning text-dark rounded-pill mb-3">Client Success Story</span>
        <h1 class="text-white mb-0">{{ story.title }}</h1>
      </div>
    </div>
  </div>
  <!-- End Hero -->

  <!-- Content -->
  <div class="container content-space-2 content-space-lg-0">
    <div class="row">
      <div class="col-lg-4 mt-lg-n10 mb-7 mb-lg-0">
        <!-- Sticky Block -->
        <div id="stickyBlockStartPoint">
          <div class="js-sticky-block"
                data-hs-sticky-block-options='{
                  "parentSelector": "#stickyBlockStartPoint",
                  "targetSelector": "#header",
                  "breakpoint": "lg",
                  "startPoint": "#stickyBlockStartPoint",
                  "endPoint": "#stickyBlockEndPoint",
                  "stickyOffsetTop": 20
                }'>
            <!-- Card -->
            <div class="card">
              <div class="card-header border-bottom text-center">
                <img class="avatar avatar-xxl avatar-4x3" src="{{ story.logo.url }}" alt="{{ story.organization }} Logo">
              </div>

              <div class="card-body">
                <dl class="row">
                  <dt class="col-sm-4">Company</dt>
                  <dd class="col-sm-8">{{ story.organization }}</dd>
                </dl>
                <!-- End Row -->
                
                <dl class="row">
                  <dt class="col-sm-4">Industry</dt>
                  <dd class="col-sm-8">{{ story.industry }}</dd>
                </dl>
                <!-- End Row -->

                <dl class="row">
                  <dt class="col-sm-4">Location</dt>
                  <dd class="col-sm-8">{{ story.location }}</dd>
                </dl>
                <!-- End Row -->

                <dl class="row">
                  <dt class="col-sm-4">Goals</dt>
                  <dd class="col-sm-8">{{ story.goals }}</dd>
                </dl>
                <!-- End Row -->

                <dl class="row">
                  <dt class="col-sm-4">Type</dt>
                  <dd class="col-sm-8">{{ story.type_of_business }}</dd>
                </dl>
                <!-- End Row -->

                <hr class="my-4">

                <div class="mb-3">
                  <h4>Services used</h4>
                </div>

                <!-- Service 1 -->
                {% if story.service1 %}
                  <dl class="row">
                    <dt class="col-sm-4 mb-2 mb-sm-0">
                      <div class="svg-icon text-primary">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" d="M8.9 21L7.19999 22.6999C6.79999 23.0999 6.2 23.0999 5.8 22.6999L4.1 21H8.9ZM4 16.0999L2.3 17.8C1.9 18.2 1.9 18.7999 2.3 19.1999L4 20.9V16.0999ZM19.3 9.1999L15.8 5.6999C15.4 5.2999 14.8 5.2999 14.4 5.6999L9 11.0999V21L19.3 10.6999C19.7 10.2999 19.7 9.5999 19.3 9.1999Z" fill="#035A4B"/>
                        <path d="M21 15V20C21 20.6 20.6 21 20 21H11.8L18.8 14H20C20.6 14 21 14.4 21 15ZM10 21V4C10 3.4 9.6 3 9 3H4C3.4 3 3 3.4 3 4V21C3 21.6 3.4 22 4 22H9C9.6 22 10 21.6 10 21ZM7.5 18.5C7.5 19.1 7.1 19.5 6.5 19.5C5.9 19.5 5.5 19.1 5.5 18.5C5.5 17.9 5.9 17.5 6.5 17.5C7.1 17.5 7.5 17.9 7.5 18.5Z" fill="#035A4B"/>
                        </svg>

                      </div>
                    </dt>
                    <!-- End Col -->

                    <dd class="col-sm-8">
                      <h5 class="mb-0">{{ story.service1 }}</h5>
                      <p class="mb-0">We used {{ story.service1 }} for our frontend.</p>
                    </dd>
                    <!-- End Col -->
                  </dl>
                  <!-- End Row -->
                {% endif %}


                <!-- Service 2 -->
                {% if story.service2 %}
                  <dl class="row">
                    <dt class="col-sm-4 mb-2 mb-sm-0">
                      <div class="svg-icon text-primary">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2718 8.68537C16.8933 8.28319 16.9125 7.65032 17.3146 7.2718C17.7168 6.89329 18.3497 6.91246 18.7282 7.31464L22.7282 11.5646C23.0906 11.9497 23.0906 12.5503 22.7282 12.9354L18.7282 17.1854C18.3497 17.5875 17.7168 17.6067 17.3146 17.2282C16.9125 16.8497 16.8933 16.2168 17.2718 15.8146L20.6268 12.25L17.2718 8.68537Z" fill="#035A4B"/>
                        <path d="M6.7282 8.68537C7.10671 8.28319 7.08754 7.65032 6.68536 7.2718C6.28319 6.89329 5.65031 6.91246 5.2718 7.31464L1.2718 11.5646C0.909397 11.9497 0.909397 12.5503 1.2718 12.9354L5.2718 17.1854C5.65031 17.5875 6.28319 17.6067 6.68536 17.2282C7.08754 16.8497 7.10671 16.2168 6.7282 15.8146L3.37325 12.25L6.7282 8.68537Z" fill="#035A4B"/>
                        <rect opacity="0.3" x="12.7388" y="3.97168" width="2" height="16" rx="1" transform="rotate(12.3829 12.7388 3.97168)" fill="#035A4B"/>
                        </svg>

                      </div>
                    </dt>
                    <!-- End Col -->

                    <dd class="col-sm-8">
                      <h5 class="mb-0">{{ story.service2 }}</h5>
                      <p class="mb-0">We used {{ story.service2 }} for our backend.</p>
                    </dd>
                    <!-- End Col -->
                  </dl>
                  <!-- End Row -->
                {% endif %}
                
                <!-- Links -->
                <hr class="my-4">
                
                <dl class="row">
                  <dd class="col-sm">
                                          
                    <!-- Button 1 -->
                    {% if story.website %}
                      <a class="btn btn-warning" href="{{ story.website }}" target="_blank">Live Preview</a>
                    {% endif %}
                      
                    <!-- Button 2 -->
                    {% if story.github %}
                      <a class="btn btn-warning" href="{{ story.github }}" target="_blank">Repository</a>
                    {% endif %}
                  
                  </dd>
                  <!-- End Col -->

                </dl>
                <!-- End Row -->

              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
        <!-- Sticky Block -->
      </div>
      <!-- End Col -->

      <div class="col-lg-8 content-space-t-lg-2 content-space-b-lg-2">
        <div class="ps-lg-4">
          <h2 class="h3">Some background on {{ story.organization }}</h2>
          <p>{{ story.body1 }}</p>

          <div class="my-4">
            <img class="img-fluid rounded-2" src="{{ story.bodyImage1.url }}" alt="{{ story.altDesc2 }}">
          </div>

          <p>{{ story.body2 }}</p>

          <div class="my-4">
            <img class="img-fluid rounded-2" src="{{ story.bodyImage2.url}}" alt="{{ story.altDesc3 }}">
          </div>

          <p>{{ story.body3 }}</p>

          <!-- End Sticky End Point -->
          <div id="stickyBlockEndPoint"></div>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- End Content -->

  {% if story.quote %}
    <!-- Testimonials -->
    <div class="container content-space-b-2 content-space-lg-3">
      <div class="text-center">
        <img class="mb-5" src="{% static 'website/assets/img/illustrations/review.png' %}" alt="Illustration" style="width: 12.5rem;">
      </div>
      
      <!-- Blockquote -->
      <figure class="w-md-75 text-center mx-md-auto">
        <blockquote class="blockquote">“{{ story.quote }}”</blockquote>

        <figcaption class="blockquote-footer text-center">
          {{ story.source }}
          <span class="blockquote-footer-source">{{ story.position }}</span>
        </figcaption>
      </figure>
      <!-- End Blockquote -->
    </div>
    <!-- End Testimonials -->
  {% endif %}
  <!-- Card Grid -->

  <!-- Recommendations -->
  {% comment %} <div class="container content-space-b-2 content-space-b-lg-3">
    <!-- Heading -->
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <h2>Related stories</h2>
    </div>
    <!-- End Heading -->

    <div class="row">
      <div class="col-sm-6 col-md-4 mb-5 mb-md-0">
        <!-- Card -->
        <div class="card h-100">
          <img class="card-img-top" src="./assets/img/480x320/img13.jpg" alt="Image Description">
          
          <div class="card-body">
            <div class="mb-3">
              <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/amazon.svg" alt="Logo">
            </div>
            <p class="card-text">Amazon launched their enterprise platform and built a powerful user experience.</p>
          </div>
          
          <div class="card-footer pt-0">
            <a class="card-link" href="./page-customer-story.html">Read story <i class="bi-chevron-right small ms-1"></i></a>
          </div>
        </div>
        <!-- End Card -->
      </div>
      <!-- End Col -->

      <div class="col-sm-6 col-md-4 mb-5 mb-md-0">
        <!-- Card -->
        <div class="card h-100">
          <img class="card-img-top" src="./assets/img/480x320/img17.jpg" alt="Image Description">
          
          <div class="card-body">
            <div class="mb-3">
              <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/mapbox.svg" alt="Logo">
            </div>
            <p class="card-text">Mapbox empowers marketers to create digital marketing dashboards easily and share them with their team.</p>
          </div>
          
          <div class="card-footer pt-0">
            <a class="card-link" href="./page-customer-story.html">Read story <i class="bi-chevron-right small ms-1"></i></a>
          </div>
        </div>
        <!-- End Card -->
      </div>
      <!-- End Col -->

      <div class="col-sm-6 col-md-4">
        <!-- Card -->
        <div class="card h-100">
          <img class="card-img-top" src="./assets/img/480x320/img16.jpg" alt="Image Description">
          
          <div class="card-body">
            <div class="mb-3">
              <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/forbes.svg" alt="Logo">
            </div>
            <p class="card-text">Netflix's mission is to create a planet run by the sun. In order to achieve this goal, they needed to find a way to make solar simple.</p>
          </div>
          
          <div class="card-footer pt-0">
            <a class="card-link" href="./page-customer-story.html">Read story <i class="bi-chevron-right small ms-1"></i></a>
          </div>
        </div>
        <!-- End Card -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div> {% endcomment %}
  
  <!-- End Card Grid -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

{% endblock %}