{% extends 'base.html' %}
{% load static %}

{% block title %}Maintenance &amp; Hosting{% endblock %}
{% block description %}Think Halcyon offers website maintenance and hosting options for their clients.{% endblock %}

{% block content %}

{% comment %} Content goes here {% endcomment %}
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Gallery -->
    <div class="container content-space-t-3 content-space-t-lg-5">
      <!-- Heading -->
      <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-md-9">
        <span class="text-cap" style="color: #fac359">maintenance &amp; hosting</span>
        <h1>Let us maintain your website and host it on our servers</h1>
      </div>
      <!-- End Heading -->

      <div class="row gx-3 gx-lg-4">
        <div class="col-5 align-self-end">
          <img class="img-fluid rounded-2" src="{% static 'website/assets/img/750x750/img11.png' %}" alt="Image Description">
        </div>
        <!-- End Col -->

        <div class="col-7">
          <div class="ms-lg-4">
            <img class="img-fluid rounded-2" src="{% static 'website/assets/img/750x750/img12.png' %}" alt="Image Description">
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Gallery -->

    <!-- Icon Blocks -->
    <div class="container content-space-2 content-space-lg-3">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="text-cap" style="color: #fac359">What we do</span>
        <h2>We will make website edits, troubleshoot bugs, and host your website</h2>
      </div>
      <!-- End Heading -->

      <div class="row justify-content-lg-center">
        <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-7">
          <!-- Icon Blocks -->
          <div class="d-flex pe-md-5">
            <div class="flex-shrink-0">
              <div class="svg-icon text-primary">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M22.0318 8.59998C22.0318 10.4 21.4318 12.2 20.0318 13.5C18.4318 15.1 16.3318 15.7 14.2318 15.4C13.3318 15.3 12.3318 15.6 11.7318 16.3L6.93177 21.1C5.73177 22.3 3.83179 22.2 2.73179 21C1.63179 19.8 1.83177 18 2.93177 16.9L7.53178 12.3C8.23178 11.6 8.53177 10.7 8.43177 9.80005C8.13177 7.80005 8.73176 5.6 10.3318 4C11.7318 2.6 13.5318 2 15.2318 2C16.1318 2 16.6318 3.20005 15.9318 3.80005L13.0318 6.70007C12.5318 7.20007 12.4318 7.9 12.7318 8.5C13.3318 9.7 14.2318 10.6001 15.4318 11.2001C16.0318 11.5001 16.7318 11.3 17.2318 10.9L20.1318 8C20.8318 7.2 22.0318 7.59998 22.0318 8.59998Z" fill="#035A4B"/>
                <path d="M4.23179 19.7C3.83179 19.3 3.83179 18.7 4.23179 18.3L9.73179 12.8C10.1318 12.4 10.7318 12.4 11.1318 12.8C11.5318 13.2 11.5318 13.8 11.1318 14.2L5.63179 19.7C5.23179 20.1 4.53179 20.1 4.23179 19.7Z" fill="#035A4B"/>
                </svg>

              </div>
            </div>

            <div class="flex-grow-1 ms-3">
              <h4>Troubleshooting Bugs</h4>
              <p>If something breaks, we go into the code of your website and fix the issue.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-7">
          <!-- Icon Blocks -->
          <div class="d-flex ps-md-5">
            <div class="flex-shrink-0">
              <div class="svg-icon text-primary">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2718 8.68537C16.8933 8.28319 16.9125 7.65032 17.3146 7.2718C17.7168 6.89329 18.3497 6.91246 18.7282 7.31464L22.7282 11.5646C23.0906 11.9497 23.0906 12.5503 22.7282 12.9354L18.7282 17.1854C18.3497 17.5875 17.7168 17.6067 17.3146 17.2282C16.9125 16.8497 16.8933 16.2168 17.2718 15.8146L20.6268 12.25L17.2718 8.68537Z" fill="#035A4B"/>
                <path d="M6.7282 8.68537C7.10671 8.28319 7.08754 7.65032 6.68536 7.2718C6.28319 6.89329 5.65031 6.91246 5.2718 7.31464L1.2718 11.5646C0.909397 11.9497 0.909397 12.5503 1.2718 12.9354L5.2718 17.1854C5.65031 17.5875 6.28319 17.6067 6.68536 17.2282C7.08754 16.8497 7.10671 16.2168 6.7282 15.8146L3.37325 12.25L6.7282 8.68537Z" fill="#035A4B"/>
                <rect opacity="0.3" x="12.7388" y="3.97168" width="2" height="16" rx="1" transform="rotate(12.3829 12.7388 3.97168)" fill="#035A4B"/>
                </svg>


              </div>
            </div>

            <div class="flex-grow-1 ms-3">
              <h4>Page Edits</h4>
              <p>We edit your existing pages by either replacing content or updating the layout.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="w-100"></div>

        <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-7">
          <!-- Icon Blocks -->
          <div class="d-flex pe-md-5">
            <div class="flex-shrink-0">
              <div class="svg-icon text-primary">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect opacity="0.3" x="3" y="3" width="18" height="18" rx="9" fill="#035A4B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.42647 12H7.23529C7.23529 14.6315 9.36852 16.7647 12 16.7647C14.6315 16.7647 16.7647 14.6315 16.7647 12C16.7647 9.36853 14.6315 7.23529 12 7.23529C10.8231 7.23529 9.71618 7.66521 8.8607 8.4153L8.70962 8.30952C8.37305 8.07385 7.91166 8.3222 7.92302 8.73291L7.96298 10.178C7.97224 10.5127 8.30136 10.7439 8.61932 10.639L9.99538 10.1855C10.3863 10.0566 10.4628 9.53709 10.1256 9.30103L9.8755 9.12587C10.4798 8.6783 11.2189 8.42647 12 8.42647C13.9736 8.42647 15.5735 10.0264 15.5735 12C15.5735 13.9736 13.9736 15.5735 12 15.5735C10.0264 15.5735 8.42647 13.9736 8.42647 12Z" fill="#035A4B"/>
                </svg>

              </div>
            </div>

            <div class="flex-grow-1 ms-3">
              <h4>Plugin Updates <span class="badge bg-warning text-dark rounded-pill ms-1">WordPress</span></h4>
              <p>We perform monthly updates for all installed plugins and confirm their configuration settings.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-7">
          <!-- Icon Blocks -->
          <div class="d-flex ps-md-5">
            <div class="flex-shrink-0">
              <div class="svg-icon text-primary">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M4 4L11.6314 2.56911C11.875 2.52343 12.125 2.52343 12.3686 2.56911L20 4V11.9033C20 15.696 18.0462 19.2211 14.83 21.2313L12.53 22.6687C12.2057 22.8714 11.7943 22.8714 11.47 22.6687L9.17001 21.2313C5.95382 19.2211 4 15.696 4 11.9033L4 4Z" fill="#035A4B"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.175 14.75C10.9354 14.75 10.6958 14.6542 10.5042 14.4625L8.58749 12.5458C8.20415 12.1625 8.20415 11.5875 8.58749 11.2042C8.97082 10.8208 9.59374 10.8208 9.92915 11.2042L11.175 12.45L14.3375 9.2875C14.7208 8.90417 15.2958 8.90417 15.6792 9.2875C16.0625 9.67083 16.0625 10.2458 15.6792 10.6292L11.8458 14.4625C11.6542 14.6542 11.4146 14.75 11.175 14.75Z" fill="#035A4B"/>
                </svg>

              </div>
            </div>

            <div class="flex-grow-1 ms-3">
              <h4>Secure Admin Area <span class="badge bg-warning text-dark rounded-pill ms-1">Django</span></h4>
              <p>We update and maintain all Django apps and settings in the secure admin area.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="w-100"></div>

        <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-0">
          <!-- Icon Blocks -->
          <div class="d-flex pe-md-5">
            <div class="flex-shrink-0">
              <div class="svg-icon text-primary">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z" fill="#035A4B"/>
                <path d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z" fill="#035A4B"/>
                </svg>


              </div>
            </div>

            <div class="flex-grow-1 ms-3">
              <h4>Self-Hosting</h4>
              <p>Whether you have a WordPress, Django, or React website, we will host it for you on our servers.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="col-md-6 col-lg-5">
          <!-- Icon Blocks -->
          <div class="d-flex ps-md-5">
            <div class="flex-shrink-0">
              <div class="svg-icon text-primary">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.7 18.9L18.6 15.8C17.9 16.9 16.9 17.9 15.8 18.6L18.9 21.7C19.3 22.1 19.9 22.1 20.3 21.7L21.7 20.3C22.1 19.9 22.1 19.3 21.7 18.9Z" fill="#035A4B"/>
                <path opacity="0.3" d="M11 20C6 20 2 16 2 11C2 6 6 2 11 2C16 2 20 6 20 11C20 16 16 20 11 20ZM11 4C7.1 4 4 7.1 4 11C4 14.9 7.1 18 11 18C14.9 18 18 14.9 18 11C18 7.1 14.9 4 11 4ZM8 11C8 9.3 9.3 8 11 8C11.6 8 12 7.6 12 7C12 6.4 11.6 6 11 6C8.2 6 6 8.2 6 11C6 11.6 6.4 12 7 12C7.6 12 8 11.6 8 11Z" fill="#035A4B"/>
                </svg>

              </div>
            </div>

            <div class="flex-grow-1 ms-3">
              <h4>Pinpoint Hosting Needs</h4>
              <p>We identify your specific hosting needs to improve the performance of your unique website.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
    </div>
    <!-- End Icon Blocks -->

    {% comment %} Pricing {% endcomment %}

    <div class="overflow-hidden">
      <!-- Hero -->
      <div class="position-relative bg-img-start" style="background-image: url({% static 'website/assets/svg/components/card-11.svg' %});">
        <div class="container content-space-t-1 content-space-b-2 content-space-b-lg-3">
          <!-- Heading -->
          <div class="w-md-75 w-lg-50 text-center mx-auto mb-9">
            <h2 class="h1">Choose the right <span style="color: #fac359">maintenance</span> plan for you</h2>
          </div>
          <!-- End Heading -->

          <!-- Form Switch -->
          <div class="d-flex justify-content-center mb-5">
            <div class="form-check form-switch form-switch-between">
              <label class="form-check-label">Monthly</label>
              <input class="js-toggle-switch form-check-input" type="checkbox"
                      data-hs-toggle-switch-options='{
                        "targetSelector": "#pricingCount1, #pricingCount2, #pricingCount3"
                      }'>
              <label class="form-check-label form-switch-promotion">
                Annually
                <span class="form-switch-promotion-container">
                  <span class="form-switch-promotion-body">
                    <svg class="form-switch-promotion-arrow" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 99.3 57" width="48">
                      <path fill="none" stroke="#bdc5d1" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M2,39.5l7.7,14.8c0.4,0.7,1.3,0.9,2,0.4L27.9,42"></path>
                      <path fill="none" stroke="#bdc5d1" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M11,54.3c0,0,10.3-65.2,86.3-50"></path>
                    </svg>
                    <span class="form-switch-promotion-text">
                      <span class="badge bg-primary rounded-pill ms-1">Get up to $200 off</span>
                    </span>
                  </span>
                </span>
              </label>
            </div>
          </div>
          <!-- End Form Switch -->
        </div>
      </div>
      <!-- End Hero -->

      <!-- Maintenance Pricing -->
      <div class="container mt-n5 mt-lg-n10">
        <div class="position-relative zi-1 mb-10">
          <div class="row">

            <!-- Basic -->
            <div class="col-md mb-3 mb-md-0">
              <!-- Card -->
              <div class="card h-100 zi-1">
                <div class="card-header text-center">
                  <div class="mb-2">
                    <span class="fs-5 align-top text-dark fw-semi-bold">$</span>
                    <span id="pricingCount1" class="fs-1 text-dark fw-semi-bold"
                           data-hs-toggle-switch-item-options='{
                             "min": 50,
                             "max": 46
                           }'>50</span>
                    <span>/mo</span>
                  </div>
                  
                  <h3 class="card-title">Basic</h3>
                  <p class="card-text">For the small sites</p>
                </div>

                <div class="card-body d-flex justify-content-center py-0">
                  <!-- List Checked -->
                  <ul class="list-checked list-checked-soft-bg-primary">
                    <li class="list-checked-item">Troubleshooting bugs</li>
                    <li class="list-checked-item">Minor page edits (content)</li>
                    <li class="list-checked-item">Email support</li>
                  </ul>
                  <!-- End List Checked -->
                </div>

                {% comment %} <div class="card-footer text-center">
                  <div class="d-grid mb-2">
                    <button type="button" class="btn btn-ghost-primary">Choose this plan</button>
                  </div>
                </div> {% endcomment %}
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->

            <!-- Blogger -->
            <div class="col-md mb-3 mb-md-0">
              <!-- Card -->
              <div class="card bg-primary h-100 zi-1">
                <div class="card-header text-center">
                  <div class="text-white mb-2">
                    <span class="fs-5 align-top fw-semi-bold">$</span>
                    <span id="pricingCount2" class="fs-1 fw-semi-bold"
                           data-hs-toggle-switch-item-options='{
                             "min": 100,
                             "max": 92
                           }'>100</span>
                    <span>/mo</span>
                  </div>
                  
                  <h3 class="card-title text-white">Blogger</h3>
                  <p class="card-text text-white-70">For the writers</p>
                </div>

                <div class="card-body d-flex justify-content-center py-0">
                  <!-- List Checked -->
                  <ul class="list-checked list-checked-soft-bg-light">
                    <li class="list-checked-item text-white">Troubleshooting bugs</li>
                    <li class="list-checked-item text-white">Major page edits (layout)</li>
                    <li class="list-checked-item text-white">Email support</li>
                    <li class="list-checked-item text-white">Update blog posts</li>
                  </ul>
                  <!-- End List Checked -->
                </div>

                {% comment %} <div class="card-footer text-center">
                  <div class="d-grid mb-2">
                    <button type="button" class="btn btn-light">Choose this plan</button>
                  </div>
                </div> {% endcomment %}
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->
            
            <!-- Small Business -->
            <div class="col-md mb-3 mb-md-0">
              <!-- Card -->
              <div class="card h-100 zi-1">
                <div class="card-header text-center">
                  <div class="mb-2">
                    <span class="fs-5 align-top text-dark fw-semi-bold">$</span>
                    <span id="pricingCount3" class="fs-1 text-dark fw-semi-bold"
                           data-hs-toggle-switch-item-options='{
                             "min": 150,
                             "max": 142
                           }'>150</span>
                    <span>/mo</span>
                  </div>
                  
                  <h3 class="card-title">Small Business</h3>
                  <p class="card-text">For the busy entrepreneurs</p>
                </div>

                <div class="card-body d-flex justify-content-center py-0 content-space-b-lg-1">
                  <!-- List Checked -->
                  <ul class="list-checked list-checked-soft-bg-primary">
                    <li class="list-checked-item">Troubleshooting bugs</li>
                    <li class="list-checked-item">Major page edits (layout)</li>
                    <li class="list-checked-item">Live support</li>
                    <li class="list-checked-item">Upload blog posts</li>
                    <li class="list-checked-item">Upload products/course material</li>
                  </ul>
                  <!-- End List Checked -->
                </div>

                {% comment %} <div class="card-footer text-center">
                  <div class="d-grid mb-2">
                    <button type="button" class="btn btn-ghost-primary">Choose this plan</button>
                  </div>
                </div> {% endcomment %}
              </div>
              <!-- End Card -->
            </div>
            <!-- End Col -->


          </div>
          <!-- End Row -->

          <!-- SVG Elements -->
          <figure class="position-absolute bottom-0 start-0 mb-n7 ms-n7" style="width: 9rem;">
            <svg viewBox="0 0 522 504" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.5" d="M332 504H510.4C516.8 504 522 498.8 522 492.4V314C522 209.1 436.9 124 332 124C227.1 124 142 209.1 142 314C142 418.9 227.1 504 332 504Z" fill="#00C9A7"/>
              <path d="M190 380H11.6C5.2 380 0 374.8 0 368.4V190C0 85.1 85.1 0 190 0C294.9 0 380 85.1 380 190C380 294.9 294.9 380 190 380Z" fill="#377dff"/>
            </svg>
          </figure>

          <figure class="position-absolute top-0 end-0 mt-n8 me-n8" style="width: 10rem;">
            <img class="img-fluid" src="{% static 'website/assets/svg/components/dots-lg.svg' %}" alt="Image Description">
          </figure>
          <!-- End SVG Elements -->
        </div>

        <!-- Card Info -->
        <div class="text-center">
          <div class="card card-info-link card-sm">
            <div class="card-body">
              Need something bigger or more customized?  <a class="card-link ms-2" href="{% url 'scheduler' %}">Let's talk <span class="bi-chevron-right small ms-1"></span></a>
            </div>
          </div>
        </div>
        <!-- End Card Info -->
      </div>
      <!-- Maintenance Pricing End -->

    </div>

    <!-- Pricing Descriptor -->
    <div class="container content-space-t-lg-3">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2 class="h1">Pick the perfect <span style="color: #fac359">hosting</span> plan</h2>
      </div>
      <!-- End Heading -->
    </div>
    <!-- End Pricing Descriptor -->

    <!-- Hosting Plans -->
    <div class="container content-space-1">

      <!-- Table -->
      <div class="table-responsive-lg w-lg-75 mx-lg-auto">
        <table class="table table-lg table-striped table-borderless table-nowrap table-vertical-border-striped">
          <thead class="table-text-center">
            <tr>
              <th scope="col" style="width: 40%;"></th>

              <th scope="col" style="width: 20%;">
                <span class="d-block">Basic</span>
                <span class="d-block text-muted small">$15/mo</span>
              </th>

              <th scope="col" style="width: 20%;">
                <span class="d-block">Standard <span class="badge bg-warning text-dark rounded-pill ms-1">Hot</span></span>
                <span class="d-block text-muted small">$50/mo</span>
              </th>

              <th scope="col" style="width: 20%;">
                <span class="d-block">Premium</span>
                <span class="d-block text-muted small">$100/mo</span>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope="row" class="text-dark">Live <strong>Hosting</strong> Support</th>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>
            
            <tr>
              <th scope="row" class="text-dark">99.9% Uptime Guarantee</th>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>
            
            <tr>
              <th scope="row" class="text-dark">WordPress Acceleration</th>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark">Free SSL Certificate</th>
              <td class="table-text-center"><span class="badge bg-soft-primary text-primary rounded-pill">Add-on available for WP</span></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark">Application metrics</th>
              <td></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
              <td class="table-text-center"><i class="bi-check-circle text-success me-2"></i></td>
            </tr>

            <tr>
              <th scope="row" class="text-dark">RAM</th>
              <td class="table-text-center">512MB</td>
              <td class="table-text-center">512MB</i></td>
              <td class="table-text-center">1GB</i></td>
            </tr>

          </tbody>
        </table>
      </div>
      <!-- End Table -->
    </div>
    <!-- End Hosting Plans -->

    <!-- End Pricing -->

    <!-- Card Grid -->
    <div class="container content-space-t-lg-3 content-space-b-3">
      <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
          <!-- Card -->
          <div class="card bg-primary h-100 overflow-hidden">
            <div class="card-body">
              <div class="w-65 pe-2">
                <h2 class="card-title text-white">Branding</h2>
                <p class="card-text text-white">We will create your logos, graphics, and product designs.</p>
                <a class="btn btn-light btn-sm btn-transition" href="{% url 'branding' %}">Learn more <i class="bi-chevron-right small ms-1"></i></a>
              </div>

              <div class="position-absolute end-0 bottom-0 w-50 mb-n3 me-n7">
                <img class="card-img" src="{% static 'website/assets/svg/illustrations/interior-design.svg' %}" alt="Image Description">
              </div>
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-lg-6">
          <!-- Card -->
          <div class="card bg-warning h-100 overflow-hidden">
            <div class="card-body">
              <div class="w-65 pe-2">
                <h2 class="card-title text-white">Website Development</h2>
                <p class="card-text text-white">We will create a responsive, beautiful website that reflects you and your business.</p>
                <a class="btn btn-light btn-sm btn-transition" href="{% url 'website_development' %}">Learn more <i class="bi-chevron-right small ms-1"></i></a>
              </div>

              <div class="position-absolute end-0 bottom-0 w-50 mb-n3 me-n7">
                <img class="card-img" src="{% static 'website/assets/svg/illustrations/programmer.svg' %}" alt="Image Description">
              </div>
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Card Grid -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->


  <!-- ========== JAVASCRIPT ========== -->

  <!-- JS Global Compulsory  -->
  <script src="{% static 'website/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'website/assets/vendor/hs-header/dist/hs-header.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/hs-show-animation/dist/hs-show-animation.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/hs-go-to/dist/hs-go-to.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/hs-toggle-switch/dist/hs-toggle-switch.min.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'website/assets/js/theme.min.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF HEADER
      // =======================================================
      new HSHeader('#header').init()


      // INITIALIZATION OF MEGA MENU
      // =======================================================
      new HSMegaMenu('.js-mega-menu', {
          desktop: {
            position: 'left'
          }
        })


      // INITIALIZATION OF SHOW ANIMATIONS
      // =======================================================
      new HSShowAnimation('.js-animation-link')


      // INITIALIZATION OF BOOTSTRAP VALIDATION
      // =======================================================
      HSBsValidation.init('.js-validate', {
        onSubmit: data => {
          data.event.preventDefault()
          alert('Submited')
        }
      })


      // INITIALIZATION OF BOOTSTRAP DROPDOWN
      // =======================================================
      HSBsDropdown.init()


      // INITIALIZATION OF GO TO
      // =======================================================
      new HSGoTo('.js-go-to')


      // INITIALIZATION OF TOGGLE SWITCH
      // =======================================================
      new HSToggleSwitch('.js-toggle-switch')
    })()
  </script>
  
  {% endblock %}
