{% extends 'base.html' %}
{% load static %}

{% block title %}Terms of Service{% endblock %}
{% block description %}Think Halcyon's terms of service{% endblock %}

{% block content %}

{% comment %} Content goes here {% endcomment %}
<!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero -->
    <div class="bg-img-start" style="background-image: url({% static 'website/assets/svg/components/card-11.svg' %});">
      <div class="container content-space-t-3 content-space-t-lg-5 content-space-b-2">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
          <h1>Terms of Service</h1>
          <p>Effective date: 2 March 2021</p>
        </div>
      </div>
    </div>
    <!-- End Hero -->

    <!-- Content -->
    <div class="container content-space-1 content-space-md-3">
      <div class="row">
        <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
          <!-- Navbar -->
          <div class="navbar-expand-md">
            <!-- Navbar Toggle -->
            <div class="d-grid">
              <button type="button" class="navbar-toggler btn btn-white mb-3" data-bs-toggle="collapse" data-bs-target="#navbarVerticalNavMenu" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu">
                <span class="d-flex justify-content-between align-items-center">
                  <span class="text-dark">Menu</span>

                  <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                  </span>

                  <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                  </span>
                </span>
              </button>
            </div>
            <!-- End Navbar Toggle -->

            <!-- Navbar Collapse -->
            <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
              <ul id="navbarSettings" class="js-sticky-block js-scrollspy nav nav-tabs nav-link-gray nav-vertical"
                  data-hs-sticky-block-options='{
                   "parentSelector": "#navbarVerticalNavMenu",
                   "targetSelector": "#header",
                   "breakpoint": "md",
                   "startPoint": "#navbarVerticalNavMenu",
                   "endPoint": "#stickyBlockEndPoint",
                   "stickyOffsetTop": 20
                 }'>
                <li class="nav-item">
                  <a class="nav-link active" href="#limitationInfo">1. Limitations of Use</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#ipInfo">2. Intellectual Property</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#liabilityInfo">3. Liability</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#accuracyInfo">4. Accuracy of Materials</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#linksInfo">5. Links</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#terminateInfo">6. Right to Terminate</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#severanceInfo">7. Severence</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#governingInfo">8. Governing Law</a>
                </li>
              </ul>
            </div>
            <!-- End Navbar Collapse -->
          </div>
          <!-- End Navbar -->
        </div>
        <!-- End Col -->

        <div class="col-md-8 col-lg-9">
          <div class="mb-7">
            <p>These Terms of Service govern your use of the website located at <a href="https://thinkhalcyon.com">https://thinkhalcyon.com</a> and any related services provided by Think Halcyon, LLC.</p>

            <p>By accessing <a href="https://thinkhalcyon.com">https://thinkhalcyon.com</a>, you agree to abide by these Terms of Service and to comply with all applicable laws and regulations. If you do not agree with these Terms of Service, you are prohibited from using or accessing this website or using any other services provided by Think Halcyon, LLC.</p>

            <p>We, Think Halcyon, LLC, reserve the right to review and amend any of these Terms of Service at our sole discretion. Upon doing so, we will update this page. Any changes to these Terms of Service will take effect immediately from the date of publication.</p>

            <p>These Terms of Service were last updated on 2 March 2021.</p>
          </div>

          <div id="limitationInfo" class="mb-7">
            <h4>1. Limitations of Use</h4>

            <p>By using this website, you warrant on behalf of yourself, your users, and other parties you represent that you will not:</p>

            <ol>
                <li>modify, copy, prepare derivative works of, decompile, or reverse engineer any materials and software contained on this website;</li>
                <li>remove any copyright or other proprietary notations from any materials and software on this website;</li>
                <li>transfer the materials to another person or “mirror” the materials on any other server;</li>
                <li>knowingly or negligently use this website or any of its associated services in a way that abuses or disrupts our networks or any other service Think Halcyon, LLC provides;</li>
                <li>use this website or its associated services to transmit or publish any harassing, indecent, obscene, fraudulent, or unlawful material;</li>
                <li>use this website or its associated services in violation of any applicable laws or regulations;</li>
                <li>use this website in conjunction with sending unauthorized advertising or spam;</li>
                <li>harvest, collect, or gather user data without the user’s consent; or</li>
                <li>use this website or its associated services in such a way that may infringe the privacy, intellectual property rights, or other rights of third parties.</li>
            </ol>
          </div>

          <div id="ipInfo" class="mb-7">
            <h4>2. Intellectual Property</h4>

            <p>The intellectual property in the materials contained in this website are owned by or licensed to Think Halcyon, LLC and are protected by applicable copyright and trademark law. We grant our users permission to download one copy of the materials for personal, non-commercial transitory use..</p>

            <p>This constitutes the grant of a license, not a transfer of title. This license shall automatically terminate if you violate any of these restrictions or the Terms of Service, and may be terminated by Think Halcyon, LLC at any time.</p>

          </div>

          <div id="liabilityInfo" class="mb-7">
            <h4>3. Liability</h4>

            <p>Our website and the materials on our website are provided on an 'as is' basis. To the extent permitted by law, Think Halcyon, LLC makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property, or other violation of rights.</p>

            <p>In no event shall Think Halcyon, LLC or its suppliers be liable for any consequential loss suffered or incurred by you or any third party arising from the use or inability to use this website or the materials on this website, even if Think Halcyon, LLC or an authorized representative has been notified, orally or in writing, of the possibility of such damage.</p>

            <p>In the context of this agreement, &ldquo;consequential loss&rdquo; includes any consequential loss, indirect loss, real or anticipated loss of profit, loss of benefit, loss of revenue, loss of business, loss of goodwill, loss of opportunity, loss of savings, loss of reputation, loss of use and/or loss or corruption of data, whether under statute, contract, equity, tort (including negligence), indemnity, or otherwise.</p>

            <p>Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

          </div>

          <div id="accuracyInfo" class="mb-7">
            <h4>4. Accuracy of Materials</h4>

            <p>The materials appearing on our website are not comprehensive and are for general information purposes only. Think Halcyon, LLC does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on this website, or otherwise relating to such materials or on any resources linked to this website.</p>
         
          </div>

          <div id="linksInfo" class="mb-7">
            <h4>5. Links</h4>

            <p>Think Halcyon, LLC has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement, approval, or control by Think Halcyon, LLC of the site. Use of any such linked site is at your own risk and we strongly advise you make your own investigations with respect to the suitability of those sites.</p>

          </div>
         
          <div id="terminateInfo" class="mb-7">
            <h4>6. Right to Terminate</h4>

            <p>We may suspend or terminate your right to use our website and terminate these Terms of Service immediately upon written notice to you for any breach of these Terms of Service.</p>

          </div>
         
          <div id="severanceInfo" class="mb-7">
            <h4>7. Severance</h4>

            <p>Any term of these Terms of Service which is wholly or partially void or unenforceable is severed to the extent that it is void or unenforceable. The validity of the remainder of these Terms of Service is not affected.</p>

          </div>
         
          <div id="governingInfo" class="mb-7">
            <h4>8. Governing Law</h4>

            <p>These Terms of Service are governed by and construed in accordance with the laws of United States. You irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>

          </div>

          <!-- End Sticky End Point -->
          <div id="stickyBlockEndPoint"></div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

{% endblock %}

{% block javascript %}
<!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF STICKY BLOCKS
      // =======================================================
      new HSStickyBlock('.js-sticky-block', {
        targetSelector: document.getElementById('header').classList.contains('navbar-fixed') ? '#header' : null
      })


      // SCROLLSPY
      // =======================================================
      new bootstrap.ScrollSpy(document.body, {
        target: '#navbarSettings',
        offset: 10
      })

      new HSScrollspy('#navbarVerticalNavMenu', {
        breakpoint: 'lg'
      })
    })()
  </script>
  {% endblock javascript %}