{% extends 'base.html' %}
{% load static %}

{% block title %}Website Development{% endblock %}
{% block description %}Think Halcyon specializes in custom website development for our clients across the country.{% endblock %}

{% block content %}

{% comment %} Content goes here {% endcomment %}
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Gallery -->
    <div class="container content-space-t-3 content-space-t-lg-5">
      <!-- Heading -->
      <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-md-9">
        <span class="text-cap" style="color: #fac359">website development</span>
        <h1>Develop a beautiful, yet functional website for a great first impression </h1>
      </div>
      <!-- End Heading -->

      <div class="row gx-3 gx-lg-4">
        <div class="col-5 align-self-end">
          <img class="img-fluid rounded-2" src="{% static 'website/assets/img/750x750/img10.png' %}" alt="Image Description">
        </div>
        <!-- End Col -->

        <div class="col-7">
          <div class="ms-lg-4">
            <img class="img-fluid rounded-2" src="{% static 'website/assets/img/750x750/img9.png' %}" alt="Image Description">
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Gallery -->

    <!-- Icon Blocks -->
    <div class="container content-space-2 content-space-lg-3">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="text-cap" style="color: #fac359">What we do</span>
        <h2>We will develop a custom website for you or your business.</h2>
      </div>
      <!-- End Heading -->

      <div class="row justify-content-lg-center">

        <!-- Landing Pages -->
        <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-7">
          <!-- Icon Blocks -->
          <div class="d-flex pe-md-5">
            <div class="flex-shrink-0">
              <div class="svg-icon text-primary">
                <!-- Layout 1 -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 7.19995H10C10.6 7.19995 11 6.79995 11 6.19995V3.19995C11 2.59995 10.6 2.19995 10 2.19995H3C2.4 2.19995 2 2.59995 2 3.19995V6.19995C2 6.69995 2.4 7.19995 3 7.19995Z" fill="#035A4B"/>
                <path opacity="0.3" d="M10.1 22H3.10001C2.50001 22 2.10001 21.6 2.10001 21V10C2.10001 9.4 2.50001 9 3.10001 9H10.1C10.7 9 11.1 9.4 11.1 9V20C11.1 21.6 10.7 22 10.1 22ZM13.1 18V21C13.1 21.6 13.5 22 14.1 22H21.1C21.7 22 22.1 21.6 22.1 21V18C22.1 17.4 21.7 17 21.1 17H14.1C13.5 17 13.1 17.4 13.1 18ZM21.1 2H14.1C13.5 2 13.1 2.4 13.1 3V14C13.1 14.6 13.5 15 14.1 15H21.1C21.7 15 22.1 14.6 22.1 14V3C22.1 2.4 21.7 2 21.1 2Z" fill="#035A4B"/>
                </svg>

              </div>
            </div>

            <div class="flex-grow-1 ms-3">
              <h4>Landing Page</h4>
              <p>Need something simple? A place to share contact info or event registration details? We can create a single page website that has all the bells and whistles of a multi-page site.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <!-- Multi-Page Websites -->
        <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-7">
          <!-- Icon Blocks -->
          <div class="d-flex ps-md-5">
            <div class="flex-shrink-0">
              <div class="svg-icon text-primary">
                <!-- Layout 8 -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 7H3C2.4 7 2 6.6 2 6V3C2 2.4 2.4 2 3 2H20C20.6 2 21 2.4 21 3V6C21 6.6 20.6 7 20 7ZM7 9H3C2.4 9 2 9.4 2 10V20C2 20.6 2.4 21 3 21H7C7.6 21 8 20.6 8 20V10C8 9.4 7.6 9 7 9Z" fill="#035A4B"/>
                <path opacity="0.3" d="M20 21H11C10.4 21 10 20.6 10 20V10C10 9.4 10.4 9 11 9H20C20.6 9 21 9.4 21 10V20C21 20.6 20.6 21 20 21Z" fill="#035A4B"/>
                </svg>

              </div>
            </div>

            <div class="flex-grow-1 ms-3">
              <h4>Multi-Page Website</h4>
              <p>We work with you to build a multi-page website that fully fleshes out your specific needs and displays distinctive inner pages for your content. Bigger is better.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="w-100"></div>
        
        <!-- Website Builder Sites -->
        <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-7">
          <!-- Icon Blocks -->
          <div class="d-flex pe-md-5">
            <div class="flex-shrink-0">
              <div class="svg-icon text-primary">
                <!-- Box -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M5 8.04999L11.8 11.95V19.85L5 15.85V8.04999Z" fill="#035A4B"/>
                <path d="M20.1 6.65L12.3 2.15C12 1.95 11.6 1.95 11.3 2.15L3.5 6.65C3.2 6.85 3 7.15 3 7.45V16.45C3 16.75 3.2 17.15 3.5 17.25L11.3 21.75C11.5 21.85 11.6 21.85 11.8 21.85C12 21.85 12.1 21.85 12.3 21.75L20.1 17.25C20.4 17.05 20.6 16.75 20.6 16.45V7.45C20.6 7.15 20.4 6.75 20.1 6.65ZM5 15.85V7.95L11.8 4.05L18.6 7.95L11.8 11.95V19.85L5 15.85Z" fill="#035A4B"/>
                </svg>

              </div>
            </div>

            <div class="flex-grow-1 ms-3">
              <h4>Website Builder Sites</h4>
              <p>Already familiar with a builder service like WordPress and don't want to change? We can build a website for you (and even <a href="{% url 'maintenance_hosting' %}"><strong>host it</strong></a> for cheaper) that doesn't sacrifice the time you spent learning how to use this service.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <!-- Custom Websites -->
        <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-7">
          <!-- Icon Blocks -->
          <div class="d-flex ps-md-5">
            <div class="flex-shrink-0">
              <div class="svg-icon text-primary">
                <!-- Code -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2718 8.68537C16.8933 8.28319 16.9125 7.65032 17.3146 7.2718C17.7168 6.89329 18.3497 6.91246 18.7282 7.31464L22.7282 11.5646C23.0906 11.9497 23.0906 12.5503 22.7282 12.9354L18.7282 17.1854C18.3497 17.5875 17.7168 17.6067 17.3146 17.2282C16.9125 16.8497 16.8933 16.2168 17.2718 15.8146L20.6268 12.25L17.2718 8.68537Z" fill="#035A4B"/>
                <path d="M6.7282 8.68537C7.10671 8.28319 7.08754 7.65032 6.68536 7.2718C6.28319 6.89329 5.65031 6.91246 5.2718 7.31464L1.2718 11.5646C0.909397 11.9497 0.909397 12.5503 1.2718 12.9354L5.2718 17.1854C5.65031 17.5875 6.28319 17.6067 6.68536 17.2282C7.08754 16.8497 7.10671 16.2168 6.7282 15.8146L3.37325 12.25L6.7282 8.68537Z" fill="#035A4B"/>
                <rect opacity="0.3" x="12.7388" y="3.97168" width="2" height="16" rx="1" transform="rotate(12.3829 12.7388 3.97168)" fill="#035A4B"/>
                </svg>

              </div>
            </div>

            <div class="flex-grow-1 ms-3">
              <h4>Custom Websites</h4>
              <p>We specialize in developoing custom websites that meet your specific needs.  We create React and/or Django websites to give our clients a robust framework that offers speed, security, and a high-level of customization that some wesite builders cannot offer out of the box.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <div class="w-100"></div>

        <!-- Blogs and Other Features -->
        <div class="col-md-6 col-lg-5 mb-3 mb-md-5 mb-lg-0">
          <!-- Icon Blocks -->
          <div class="d-flex pe-md-5">
            <div class="flex-shrink-0">
              <div class="svg-icon text-primary">
                <!-- Pen -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M16.163 17.55C17.0515 16.6633 17.6785 15.5488 17.975 14.329C18.2389 13.1884 18.8119 12.1425 19.631 11.306V11.306L12.694 4.36902C11.8574 5.18796 10.8115 5.76088 9.67099 6.02502C8.15617 6.3947 6.81277 7.27001 5.86261 8.50635C4.91245 9.74268 4.41238 11.266 4.44501 12.825C4.46196 13.6211 4.31769 14.4125 4.0209 15.1515C3.72412 15.8905 3.28092 16.5617 2.71799 17.125L2.28699 17.556C2.10306 17.7402 1.99976 17.9897 1.99976 18.25C1.99976 18.5103 2.10306 18.7598 2.28699 18.944L5.06201 21.719C5.24614 21.9029 5.49575 22.0062 5.75601 22.0062C6.01627 22.0062 6.26588 21.9029 6.45001 21.719L6.88101 21.288C7.44427 20.725 8.11556 20.2819 8.85452 19.9851C9.59349 19.6883 10.3848 19.5441 11.181 19.561C12.1042 19.58 13.0217 19.4114 13.878 19.0658C14.7343 18.7202 15.5116 18.2046 16.163 17.55V17.55Z" fill="#035A4B"/>
                <path d="M19.631 11.306L12.694 4.36902L14.775 2.28699C14.9591 2.10306 15.2087 1.99976 15.469 1.99976C15.7293 1.99976 15.9789 2.10306 16.163 2.28699L21.713 7.83704C21.8969 8.02117 22.0002 8.27075 22.0002 8.53101C22.0002 8.79126 21.8969 9.04085 21.713 9.22498L19.631 11.306ZM13.041 10.959C12.6427 10.5604 12.1194 10.3112 11.5589 10.2532C10.9985 10.1952 10.4352 10.332 9.96375 10.6405C9.4923 10.949 9.14148 11.4105 8.97034 11.9473C8.79919 12.4841 8.81813 13.0635 9.02399 13.588L2.98099 19.631L4.36899 21.019L10.412 14.975C10.9364 15.1816 11.5161 15.2011 12.0533 15.0303C12.5904 14.8594 13.0523 14.5086 13.361 14.037C13.6697 13.5654 13.8065 13.0018 13.7482 12.4412C13.6899 11.8805 13.4401 11.357 13.041 10.959V10.959Z" fill="#035A4B"/>
                </svg>

              </div>
            </div>
            
            <div class="flex-grow-1 ms-3">
              <h4>Blogs and Other Features</h4>
              <p>We take pride in offering our clients a variety of features that they can incorporate into their websites: blogs, events, LMS integration, custom features (APIs), and more.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>

        <!-- eCommerce Websites -->
        <div class="col-md-6 col-lg-5">
          <!-- Icon Blocks -->
          <div class="d-flex ps-md-5">
            <div class="flex-shrink-0">
              <div class="svg-icon text-primary">
                <!-- Shopping Cart -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M18.041 22.041C18.5932 22.041 19.041 21.5932 19.041 21.041C19.041 20.4887 18.5932 20.041 18.041 20.041C17.4887 20.041 17.041 20.4887 17.041 21.041C17.041 21.5932 17.4887 22.041 18.041 22.041Z" fill="#035A4B"/>
                <path opacity="0.3" d="M6.04095 22.041C6.59324 22.041 7.04095 21.5932 7.04095 21.041C7.04095 20.4887 6.59324 20.041 6.04095 20.041C5.48867 20.041 5.04095 20.4887 5.04095 21.041C5.04095 21.5932 5.48867 22.041 6.04095 22.041Z" fill="#035A4B"/>
                <path opacity="0.3" d="M7.04095 16.041L19.1409 15.1409C19.7409 15.1409 20.141 14.7409 20.341 14.1409L21.7409 8.34094C21.9409 7.64094 21.4409 7.04095 20.7409 7.04095H5.44095L7.04095 16.041Z" fill="#035A4B"/>
                <path d="M19.041 20.041H5.04096C4.74096 20.041 4.34095 19.841 4.14095 19.541C3.94095 19.241 3.94095 18.841 4.14095 18.541L6.04096 14.841L4.14095 4.64095L2.54096 3.84096C2.04096 3.64096 1.84095 3.04097 2.14095 2.54097C2.34095 2.04097 2.94096 1.84095 3.44096 2.14095L5.44096 3.14095C5.74096 3.24095 5.94096 3.54096 5.94096 3.84096L7.94096 14.841C7.94096 15.041 7.94095 15.241 7.84095 15.441L6.54096 18.041H19.041C19.641 18.041 20.041 18.441 20.041 19.041C20.041 19.641 19.641 20.041 19.041 20.041Z" fill="#035A4B"/>
                </svg>

              </div>
            </div>

            <div class="flex-grow-1 ms-3">
              <h4>eCommerce Websites</h4>
              <p>We offer two kinds of eCommerce websites: built with services like WooCommerce or Shopify, or custom built with Django. We work with you to guarantee that you are ship-ready on launch day.</p>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
    </div>
    <!-- End Icon Blocks -->

    <!-- Request a Quote Form -->
    <div class="bg-dark rounded-2 mx-3 mx-xl-10" style="background-image: url({% static 'website/assets/svg/components/wave-pattern-light.svg' %});">
      <div class="container-xl container-fluid content-space-1 content-space-md-2 px-4 px-md-8 px-lg-10">
        <div class="row justify-content-lg-between align-items-lg-center">
          <div class="col-md-10 col-lg-5 mb-9 mb-lg-0">
            <!-- Info -->
            <h1 class="text-white">Request a Quote</h1>
            <p class="text-white-70">Let Think Halcyon handle your development and design needs.</p>
            <!-- End Info -->

            <div class="border-top border-white-10 my-5" style="max-width: 10rem;"></div>

            <!-- Blockquote -->
            <figure>
              <div class="d-flex gap-1 mb-4">
                <img src="{% static 'website/assets/svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                <img src="{% static 'website/assets/svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                <img src="{% static 'website/assets/svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                <img src="{% static 'website/assets/svg/illustrations/star.svg' %}" alt="Review rating" width="16">
                <img src="{% static 'website/assets/svg/illustrations/star.svg' %}" alt="Review rating" width="16">
              </div>

              <blockquote class="blockquote blockquote-light">“I LOVE the new website! Jo really heard my vision and made it happen and then went above and beyond!”</blockquote>

              <figcaption class="blockquote-footer blockquote-light">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0">
                    <img class="avatar avatar-circle" src="{% static 'website/assets/img/160x160/img3.png' %}" alt="Image Description">
                  </div>

                  <div class="flex-grow-1 ms-3">
                    Joy Rosa, MacOM
                    <span class="blockquote-footer-source">CEO of Earthworks Acupuncture</span>
                  </div>
                </div>
              </figcaption>
            </figure>
            <!-- End Blockquote -->
          </div>

          <div class="col-lg-6">
            <!-- Card -->
            <div class="card card-lg">
              <div class="card-body">
                <div class="mb-4">
                  <h3 class="card-title">Fill out the form and we'll be in touch as soon as possible.</h3>
                </div>

                <!-- Form -->
                <form action='{% url 'req-quote' %}' method='POST'>
                  {% csrf_token %}
                  <div class="row gx-3">
                    <div class="col-sm-6">
                      <!-- Form -->
                      <div class="mb-3">
                        <label class="form-label visually-hidden" for="hireUsFormFirstNameEg2">First name</label>
                        <input type="text" class="form-control form-control-lg" name="first_name" id="hireUsFormFirstNameEg2" placeholder="First name" aria-label="First name">
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-6">
                      <!-- Form -->
                      <div class="mb-3">
                        <label class="form-label visually-hidden" for="hireUsFormLasttNameEg2">Last name</label>
                        <input type="text" class="form-control form-control-lg" name="last_name" id="hireUsFormLasttNameEg2" placeholder="Last name" aria-label="Last name">
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->

                  <div class="row gx-3">
                    <div class="col-sm-12">
                      <!-- Form -->
                      <div class="mb-3">
                        <label class="form-label visually-hidden" for="hireUsFormWorkEmailEg2">Email address</label>
                        <input type="email" class="form-control form-control-lg" name="email" id="hireUsFormWorkEmailEg2" placeholder="email@site.com" aria-label="email@site.com">
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                  </div>

                  <div class="row gx-3">
                    <div class="col-sm-12">
                      <!-- Form -->
                      <div class="mb-3">
                        <label class="form-label visually-hidden" for="hireUsFormCompanyNameEg1">Company name <span class="form-label-secondary">(Optional)</span></label>
                        <input type="text" class="form-control form-control-lg" name="company" id="hireUsFormCompanyNameEg1" placeholder="Your Company, LLC" aria-label="Your Company, LLC">
                      </div>
                      <!-- End Form -->
                    </div>
                    <!-- End Col -->
                  </div>
                  <!-- End Row -->

                  <div class="row gx-3">
                    <div class="col-sm-12">
                      <!-- Select -->
                      <div class="mb-3">
                        <label class="form-label visually-hidden" for="hireUsFormBudgetEg2">Budget</label>
                        <select id="hireUsFormBudgetEg2" class="form-select form-select-lg" name="budget" aria-label="Budget">
                          <option selected>Budget</option>
                          <option selected>Tell us about your budget</option>
                          <option value="1">$1,000 - $2,000</option>
                          <option value="2">$2,000 - $5,000</option>
                          <option value="3">$5,000 - $10,000</option>
                          <option value="4">$10,000 or more</option>
                        </select>
                      </div>
                      <!-- End Select -->
                    </div>
                    <!-- End Col -->

                  </div>
                  <!-- End Row -->

                  <!-- Form -->
                  <div class="mb-3">
                    <label class="form-label visually-hidden" for="hireUsFormDetailsEg2">Details</label>
                    <textarea class="form-control form-control-lg" name="message" id="hireUsFormDetailsEg2" placeholder="Tell us about your project" aria-label="Tell us about your project" rows="4"></textarea>
                  </div>
                  <!-- End Form -->

                  <!-- Check -->
                  {% comment %} <div class="form-check small mb-4">
                    <input type="checkbox" class="form-check-input" id="signupFormPrivacyCheckEg2" name="signupFormPrivacyCheckEg2" required data-msg="Please accept our Privacy Policy.">
                    <label class="form-check-label" for="signupFormPrivacyCheckEg2"> Yes, I'd like to receive occasional marketing emails from Front. I have the right to opt out at any time. <a class="link" href="../page-privacy.html">View privacy policy.</a></label>
                  </div> {% endcomment %}
                  <!-- End Check -->

                  <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">Send Inquiry</button>
                  </div>
                </form>
                <!-- End Form -->
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Request a Quote Form -->

    <!-- Card Grid -->
    <div class="container content-space-b-3 content-space-t-3">
      <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
          <!-- Card -->
          <div class="card bg-primary h-100 overflow-hidden">
            <div class="card-body">
              <div class="w-65 pe-2">
                <h2 class="card-title text-white">Branding</h2>
                <p class="card-text text-white">We will create your logos, graphics, and product designs.</p>
                <a class="btn btn-light btn-sm btn-transition" href="{% url 'branding' %}">Learn more <i class="bi-chevron-right small ms-1"></i></a>
              </div>

              <div class="position-absolute end-0 bottom-0 w-50 mb-n3 me-n7">
                <img class="card-img" src="{% static 'website/assets/svg/illustrations/interior-design.svg' %}" alt="Image Description">
              </div>
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-lg-6">
          <!-- Card -->
          <div class="card bg-warning h-100 overflow-hidden">
            <div class="card-body">
              <div class="w-65 pe-2">
                <h2 class="card-title text-white">Maintenance &amp; Hosting</h2>
                <p class="card-text text-white">Monthly updates and hosting options for your website</p>
                <a class="btn btn-light btn-sm btn-transition" href="{% url 'maintenance_hosting' %}">Learn more <i class="bi-chevron-right small ms-1"></i></a>
              </div>

              <div class="position-absolute end-0 bottom-0 w-50 mb-n3 me-n7">
                <img class="card-img" src="{% static 'website/assets/svg/illustrations/server.svg' %}" alt="Image Description">
              </div>
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Card Grid -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

{% endblock %}